{
    "storage": {
        "active": "imagekit",
        "imagekit": {
            "enableDatedFolders": true,
            "auth": {
                "privateKey": "your-private-key",
                "publicKey": "your-public-key",
                "urlEndpoint": "https://ik.imagekit.io/your-imagekit-id"
            },
            "uploadOptions": {
                "useUniqueFileName": false,
                "folder": "/sample",
                "tags": ["blog"]
            }
        }
    },
    "imageOptimization": {
        "resize": false
    }
}