{
    "storage": {
        "active": "imagekit",
        "imagekit": {
            "auth": {
                "urlEndpoint": "",
                "privateKey": "",
                "publicKey": ""
            },
            "uploadOptions": {
                "useUniqueFileName": false,
                "tags": [
                    "abc"
                ],
                "folder": "/"
            }
        }
    }
}
